body {
    font-family: Arial, sans-serif;
    margin: 0;
    color: #fff;
    background-color: #181818;
  }
  input {
    background-color: gray;
}
textarea{
    background-color: gray;
}
button {
    margin-top: 10px;
background-color: red;}
  #home{
    height: 100vh;
  }
  
  #products{
    height: 100vh;
  }
  
  #services{
    height: 100vh;
  }
  
  #details{
    display: flex;
    flex-direction: column;
  }
  
  header {
    width: 100%;
    background-color: red;
    color: #fff;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 1rem;
  }
  
  header h1 {
    margin: 0;
    font-size: 2rem;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  nav ul li {
    margin: 0 1rem;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
  }
  
  main {
    margin-top: 25px;
    margin: 2rem;
  }
  
  section h2 {
    margin-top: 0;
    font-size: 2rem;
    font-weight: bold;
    color: #fff;
  }
  
  section ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 1rem;
  }
  
  section li {
    display: flex;
    flex-direction: column;
    background-color: #282828;
    padding: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in-out;
  }
  
  section li:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: translateY(-2px);
  }
  
  section li img {
    max-width: 100%;
    /* margin-bottom: 1rem; */
  }
  
  section li h3 {
    margin: 0;
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff;
  }
  
  section li p {
    font-size: 1.2rem;
    color: #c0c0c0;
  }
  
  section li button {
    margin-top: auto;
    background-color: #ff0000;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
  
  section li button:hover {
    background-color: #fff;
    color: #ff0000;
    border: 2px solid #ff0000;
  }
  
  #cart {
    position: fixed;
    top: 5rem;
    right: 2rem;
    background-color: #282828;
    padding: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
  
  #cart h3 {
    margin-top: 0;
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff;
  }
  
  #cart ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  #cart li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5rem;
  }
  
  #cart li img {
    height: 3rem;
    margin-right: 1rem;
  }
  
  #cart li span {
    font-size: 1.2rem;
    font-weight: bold;
    color: #fff;
  }
  
  #cart li button {
    background-color: #ff0000;
    color: #fff;
    padding: 0.5rem;
    border: none;
    border-radius: 0.3rem;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
  }
  
  #cart li button:hover {
    background-color: #fff;
    color: #ff0000;
    border: 2px solid #ff0000;
  }
  